/* Desktop: 1440px */

:root {
/* Primary */
/* (Full Slider Bar) */
--soft-cyan: hsl(174, 77%, 80%);
/* (Slider Backround) */
--strong-cyan: hsl(174, 86%, 45%);
/* (Discount Background) */
--light-grayish-red: hsl(14, 92%, 95%);
/* (Discount Text) */
--light-red: hsl(15, 100%, 70%);
/* (CTA Text) */
--pale-blue: hsl(226, 100%, 87%);
/* Neutral */
/* (Pricing Component Background) */
--white: hsl (0, 0%, 100%);
/* (Main Background) */
--very-pale-blue: hsl(230, 100%, 99%);
/* (Empty Slider Bar) */
--light-grayish-blue: hsl(224, 65%, 95%);
/* (Toggle Background) */
--light-grayish-blue: hsl(223, 50%, 87%);
/* (Text) */
--grayish-blue: hsl(225, 20%, 60%);
/* (Text & CTA Background) */
--dark-desaturated-blue: hsl(227, 35%, 25%);
}

body {
  text-align: center;
  /* Font Size Introductory Paragraph */
  font-size: 15px;
  font-family: 'Manrope';
  /* Font Weights: 600, 800 */
}

.topHead {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid red;
  height: 20rem;
}

.imgBG {
  border: 1px solid red;
  background-image: url("../images/pattern-circles.svg");
  background-position: center;
  background-size: 150px 150px;
  background-repeat: no-repeat;
}

.testing {
  display: flex;
}

p {
  font-size: 15px;
}

h1 {
  font-size: 20px;
}
